<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Manufacturer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">

  <h1>Add Manufacturer</h1>

  <form th:action="@{/manufacturer/create}" th:object="${manufacturer}" method="post">
    <label for="name">Name:</label>
    <input type="text" class="form-control" th:field="*{name}" id="name" />

    <label for="country">Country:</label>
    <input type="text" class="form-control" th:field="*{country}" id="country" />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <a th:href="@{/manufacturer}" class="btn btn-secondary mt-3">Back to Manufacturer List</a>
</div>

</body>
</html>
