<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Patient</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">

  <h1>Add Patient</h1>

  <form th:action="@{/patients/create}" th:object="${patient}" method="post">
    <label for="vaccinated">Vaccinated:</label>
    <input type="checkbox" class="form-check-input" th:field="*{vaccinated}" id="vaccinated" />

    <label for="doseAdministered">Doses Administered:</label>
    <input type="number" class="form-control" th:field="*{doseAdministered}" id="doseAdministered" />

    <label for="lastDose">Last Dose:</label>
    <input type="date" class="form-control" th:field="*{lastDose}" id="lastDose" th:value="${patient.lastDoseFormatted}" />





    <label for="userId">User ID:</label>
    <input type="number" class="form-control" th:field="*{userId}" id="userId" />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <a th:href="@{/patients}" class="btn btn-secondary mt-3">Back to Patient List</a>
</div>

</body>
</html>
