<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Sick News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">

  <h1>Add Sick News</h1>

  <form th:action="@{/sicknews/create}" th:object="${sickNews}" method="post">
    <label for="numberSick">Number Sick:</label>
    <input type="number" class="form-control" th:field="*{numberSick}" id="numberSick" />

    <label for="tested">Tested:</label>
    <input type="number" class="form-control" th:field="*{tested}" id="tested" />

    <label for="hospitalized">Hospitalized:</label>
    <input type="number" class="form-control" th:field="*{hospitalized}" id="hospitalized" />

    <label for="onRespirator">On Respirator:</label>
    <input type="number" class="form-control" th:field="*{onRespirator}" id="onRespirator" />

    <label for="date">Date:</label>
    <input type="hidden" class="form-control" th:field="*{date}" id="date" />



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <a th:href="@{/sicknews}" class="btn btn-secondary mt-3">Back to Sick News List</a>
</div>

</body>
</html>
