<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.11.0/dist/js/bootstrap-datepicker.min.js"></script>
</head>
<body>

<div class="container mt-3">

  <h1>Add User</h1>

  <form th:action="@{/user/save}" th:object="${user}" method="post">
    <th scope="col">name</th>
    <input type="text" class="form-control" th:field="${user.name}" />
    <th scope="col">surname</th>
    <input type="text" class="form-control" th:field="${user.surName}"/>
    <th scope="col">password</th>
    <input type="text" class="form-control" th:field="${user.password}"/>
    <th scope="col">jmbg</th>
    <input type="text" class="form-control" th:field="${user.jmbg}" />
    <th scope="col">mail</th>
    <input type="text" class="form-control" th:field="${user.email}" />
    <th scope="col">adress</th>
    <input type="text" class="form-control" th:field="${user.address}" />
    <th scope="col">number</th>
    <input type="text" class="form-control" th:field="${user.phoneNumber}" />
    <th scope="col">role</th>
    <input type="text" class="form-control" th:field="${user.role}" />
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" />
    <label for="regDate">Registration Date:</label>
    <input type="hidden" id="regDate" name="regDate" th:field="*{regDate}" />



    <button type="submit" class="btn btn-primary">Add User</button>
  </form>


  <a th:href="@{/user}" class="btn btn-secondary mt-3">Back to Users List</a>
</div>

</body>
</html>
