<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Sick News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">

  <h1>Edit Sick News</h1>

  <form th:action="@{/sicknews/edit/{id}(id=${sickNews.id})}" method="post">
    <label for="numberSick">Number Sick:</label>
    <input type="number" class="form-control" th:field="${sickNews.numberSick}" id="numberSick" />

    <label for="tested">Tested:</label>
    <input type="number" class="form-control" th:field="${sickNews.tested}" id="tested" />

    <label for="hospitalized">Hospitalized:</label>
    <input type="number" class="form-control" th:field="${sickNews.hospitalized}" id="hospitalized" />

    <label for="onRespirator">On Respirator:</label>
    <input type="number" class="form-control" th:field="${sickNews.onRespirator}" id="onRespirator" />

    <input type="hidden" class="form-control" th:field="${sickNews.date}" id="date" />


    <button type="submit" class="btn btn-primary">Update Sick News</button>
  </form>


  <a th:href="@{/sicknews}" class="btn btn-secondary mt-3">Back to Sick News List</a>
</div>

</body>
</html>
