<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">

  <h1>Edit User</h1>

  <form th:action="@{/user/update/{id}(id=${user.id})}" method="post">
    <input type="text" class="form-control" th:field="${user.name}" />
    <input type="text" class="form-control" th:field="${user.surName}"/>
    <input type="hidden" th:field="${user.password}" />
    <input type="text" class="form-control" th:field="${user.jmbg}" />
    <input type="text" class="form-control" th:field="${user.email}" />
    <input type="text" class="form-control" th:field="${user.address}" />
    <input type="text" class="form-control" th:field="${user.phoneNumber}" />
    <input type="text" class="form-control" th:field="${user.role}" />
    <input type="text" class="form-control" th:field="${user.regDate}" />
    <input type="text" class="form-control" th:field="${user.dateOfBirth}" />


    <button type="submit" class="btn btn-primary">Update User</button>
  </form>


  <a th:href="@{/user}" class=" btn btn-secondary mt-3">Back to Users List</a>
</div>

</body>
</html>
