<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">

  <h1>Edit Vaccine</h1>

  <form th:action="@{/vaccine/edit/{id}(id=${vaccine.id})}" method="post">
    <input type="text" class="form-control" th:field="${vaccine.name}" />
    <input type="text" class="form-control" th:field="${vaccine.stock}"/>
    <input type="hidden" class="form-control" th:field="${vaccine.idManufacturer}"/>


    <button type="submit" class="btn btn-primary">Update Vaccine</button>
  </form>


  <a th:href="@{/vaccine}" class=" btn btn-secondary mt-3">Back to Vaccine List</a>
</div>

</body>
</html>


