<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eUprava</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


</head>
<body>
<div th:if="${role == 'admin'}" th:insert="~{admin_header :: header}"></div>
<div th:if="${role == 'staff'}" th:insert="~{staff_header :: header}"></div>
<div th:if="${role == 'none'}" th:insert="~{notLogged_header :: header}"></div>
<div th:if="${role == 'patient'}" th:insert="~{patient_header :: header}"></div>

<th:block th:each="sickNews : ${numberSick}">
    <div class="card" style="width: 60rem; margin: 10px auto;">
        <div class="card-body">
            <h5 class="card-title">Infected news:</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${#temporals.format(sickNews.date, 'dd.MM.yyyy HH:mm:ss')}"></h6>
                Number of tested patients:          [[${sickNews.tested}]]<br/>
                Number of infected patients:        [[${sickNews.numberSick}]]<br/>
                Number of hospitalized patients:    [[${sickNews.hospitalized}]]<br/>
                Number of patients on respirators:  [[${sickNews.onRespirator}]]<br/>

            </p>
        </div>
    </div>
</th:block>

<th:block th:each="totalInfected : ${totalInfected}">
    <div class="card" style="width: 80rem; margin: 0 auto;">
        <div class="card-body">
            Number of Total infected patients:        [[${totalInfected.totalInfected}]]<br/>

        </div>
    </div>
</th:block>


<th:block th:each="news : ${listNews}">
    <div class="card" style="width: 80rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">[[${news.name}]]</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${#temporals.format(news.date, 'dd.MM.yyyy HH:mm:ss')}"></h6>
            <p class="card-text">[[${news.content}]]</p>
        </div>
    </div>
</th:block>
</body>
</html>