<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div th:replace="~{notLogged_header :: header}">...</div>

<form th:action="@{/login/save}" method="post" style="width: 40vw; margin: auto;">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 10px">Submit</button>
</form>
<a href="" th:href="@{'/register'}" style="margin-left: 30vw; margin-top: 10px; color: #1a1d20;" role="button">Sign-up</a>
</body>
</html>
