<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="~{admin_header:: header}">...</div>

<div class="container mt-3">

  <table class="table table-light">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Content</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="news : ${newsList}">
      <td th:text="${news.id}"></td>
      <td th:text="${news.name}"></td>
      <td th:text="${news.content}"></td>
      <td th:text="${news.date}"></td>
      <td>
        <a href="" th:href="@{'/news/edit/' + ${news.id}}" class="btn btn-primary btn-lg" role="button">Edit</a>
        <a href="" th:href="@{'/news/delete/' + ${news.id}}" class="btn btn-primary btn-lg" role="button">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/news/create}" class="btn btn-secondary btn-sm" style="margin: 20px">Add news</a>
</div>

</body>
</html>
