<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav" >
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/patient/vax}">Vaccines</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn btn-secondary btn-sm" th:href="@{/logout}">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>