<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Patients</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="~{admin_header:: header}">...</div>

<div class="container mt-3">

  <table class="table table-light">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Vaccinated</th>
      <th scope="col">Doses Administered</th>
      <th scope="col">Last Dose</th>
      <th scope="col">User ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patientList}">
      <td th:text="${patient.patientId}"></td>
      <td th:text="${patient.vaccinated ? 'Yes' : 'No'}"></td>
      <td th:text="${patient.doseAdministered}"></td>
      <td th:text="${patient.lastDose}"></td>
      <td th:text="${patient.userId}"></td>
      <td>
        <a href="" th:href="@{'/patients/edit/' + ${patient.patientId}}" class="btn btn-primary btn-lg" role="button">Edit</a>
        <a href="" th:href="@{'/patients/delete/' + ${patient.patientId}}" class="btn btn-primary btn-lg" role="button">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/patients/create}" class="btn btn-secondary btn-sm" style="margin: 20px">Add patient</a>
</div>

</body>
</html>
