<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sick News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="~{admin_header:: header}">...</div>

<div class="container mt-3">

  <table class="table table-light">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Number Sick</th>
      <th scope="col">Tested</th>
      <th scope="col">Hospitalized</th>
      <th scope="col">On Respirator</th>
      <th scope="col">Date</th>
      <th scope="col">infectedTotal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sickNews : ${sickNewsList}">
      <td th:text="${sickNews.id}"></td>
      <td th:text="${sickNews.numberSick}"></td>
      <td th:text="${sickNews.tested}"></td>
      <td th:text="${sickNews.hospitalized}"></td>
      <td th:text="${sickNews.onRespirator}"></td>
      <td th:text="${sickNews.date}"></td>
      <td>
        <a href="" th:href="@{'/sicknews/edit/' + ${sickNews.id}}" class="btn btn-primary btn-lg" role="button">Edit</a>
        <a href="" th:href="@{'/sicknews/delete/' + ${sickNews.id}}" class="btn btn-primary btn-lg" role="button">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/sicknews/create}" class="btn btn-secondary btn-sm" style="margin: 20px">Add Sick News</a>
</div>

</body>
</html>
