<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{staff_header :: header}">...</div>

<div class="popup" th:if="${message}" onclick="popoff()">
  <span class="popuptext show" id="myPopup" th:text="${message}"></span>
</div>
>
<div class="container" style="margin-top: 20px;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form th:action="@{/osoblje_vakcine}" method="get" class="search-form">
        <div class="input-group">
          <input type="text" name="query" placeholder="Pretrazi" class="form-control" style="margin-right: 10px;"/>
          <input type="number" name="minKolicina" placeholder="Minimalna kolicina" class="form-control" />
          <input type="number" name="maxKolicina" placeholder="Maksimalna kolicina" class="form-control" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary" style="margin-left: 10px;">Pretrazi</button>
          </div>
        </div>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th>
            <a th:href="@{/osoblje_vakcine(order='id', orderBy=${newOrderBy})}" style="text-decoration: none; color: #1a1d20">
              Id ▼▲
            </a>
          </th>
          <th>
            <a th:href="@{/osoblje_vakcine(order='ime', orderBy=${newOrderBy})}" style="text-decoration: none; color: #1a1d20">
              Name ▼▲
            </a>
          </th>
          <th>
            <a th:href="@{/osoblje_vakcine(order='dostupnaKolicina', orderBy=${newOrderBy})}" style="text-decoration: none; color: #1a1d20">
              Available ▼▲
            </a>
          </th>
          <th scope="col">Ime proizvodjaca</th>
          <th scope="col">Drzava proizvodnje</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="vakcinaa : ${listVakcine}">
          <tr>
            <td><span th:text="${vakcinaa.id}"></span></td>
            <td><a th:href="@{'/osoblje_vakcine/show/' + ${vakcinaa.id}}" style="color: #1a1d20"><span th:text="${vakcinaa.ime}"></span></a></td>
            <td><span th:text="${vakcinaa.dostupnaKolicina}"></span></td>
            <td><span th:text="${vakcinaa.proizvodjac.proizvodjac}"></span></td>
            <td><span th:text="${vakcinaa.proizvodjac.drzavaProizvodnje}"></span></td>
          </tr>
        </th:block>
        </tbody>
      </table>
      <button id="toggleFormBtn" class="btn btn-secondary" onclick="toggleForm()">
        <span id="arrowIcon" class="arrow">▼</span> Podnesi zahtev za kupovinu vakcina
      </button>

      <form id="vaxForm" th:action="@{/zahtevzakupovinu/new}" method="post" th:object="${zahtevzakupovinu}" style="display: none; border: 1px solid #ccc; padding: 10px;">
        <div class="form-group">
          <label for="amount">Kolicina</label>
          <input type="number" class="form-control" id="amount" th:field="*{kolicina}" required>
        </div>
        <div class="form-group">
          <label for="vax">Vakcina</label>
          <select th:field="*{vakcinaId}" class="form-select" style="width: 100%" id="vax">
            <option th:each="vax : ${listVakcine}" th:value="${vax.getId()}" th:text="${vax.getIme()}"></option>
          </select>
        </div>
        <div class="form-group">
          <label>Svrha nabavke</label>
          <textarea th:field="*{svrha}" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary btn-sm">Sacuvaj</button>
        <button type="button" onclick="cancelForm()" class="btn btn-secondary btn-sm">Otkazi</button>
      </form>
    </div>
  </div>
</div>

<script>
  function toggleForm() {
    let form = document.getElementById("vaxForm");
    let arrowIcon = document.getElementById("arrowIcon");

    if (form.style.display === "none") {
      form.style.display = "block";
      arrowIcon.innerHTML = "▲";
      document.getElementById("toggleFormBtn").innerHTML = '<span class="arrow">▲</span> Podnesi zahtev za kupovinu vakcina';
    } else {
      form.style.display = "none";
      arrowIcon.innerHTML = "▼";
      document.getElementById("toggleFormBtn").innerHTML = '<span class="arrow">▼</span> Podnesi zahtev za kupovinu vakcina';
    }
  }

  function popoff() {
    let popup = document.getElementById("myPopup");
    popup.classList.remove("show");
  }
</script>
</div>

</body>
</html>
