<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="~{admin_header:: header}">...</div>

<div class="container mt-3">

    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">surname</th>
            <th scope="col">jmbg</th>
            <th scope="col">email</th>
            <th scope="col">adress</th>
            <th scope="col">phoneNumber</th>
            <th scope="col">role</th>
            <th scope="col">regdate</th>
            <th scope="col">dateofbirth</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surName}"></td>
            <td th:text="${user.jmbg}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.regDate}"></td>
            <td th:text="${user.dateOfBirth}"></td>

            <td>
                <a href="" th:href="@{'/user/edit/' + ${user.id}}" class="btn btn-primary btn-lg " role="button"  >Edit</a>
                <a href="" th:href="@{'/user/delete/' + ${user.id}}" class="btn btn-primary btn-lg " role="button" >Delete</a>
            </td>

        </tr>

        </tbody>
    </table>
    <a th:href="@{/user/new}" class="btn btn-secondary btn-sm" style="margin: 20px">Add user</a>
</div>

</body>
</html>


